// Gutters

$gutter-vertical: 20px;
$gutter-vertical-small: $gutter-vertical/2;
$gutter-vertical-big: $gutter-vertical*2;

$gutter-horizontal: 30px;
$gutter-horizontal-small: $gutter-horizontal/2;
$gutter-horizontal-big: $gutter-horizontal*2;
